<html>
	<head>
	<title>Website</title>
	<meta charset="utf-8" />
	<meta property="og:url"          content="http://www.nytimes.com/2015/02/19/arts/international/when-great-minds-dont-think-alike.html" />
	<meta property="og:type"         content="article" />
	<meta property="og:title"        content="When Great Minds Don’t Think Alike" />
	<meta property="og:description"  content="How much does culture influence creative thinking?" />
	<meta property="og:image"        content="http://static01.nyt.com/images/2015/02/19/arts/international/19iht-btnumbers19A/19iht-btnumbers19A-facebookJumbo-v2.jpg" />
	<link rel="stylesheet" type="text/css" href="https://bootswatch.com/3/cosmo/bootstrap.min.css">
	</head>
	<body>
		<div id="root">{{mockup}}</div>
		<script src="client.js"></script>
	</body>
	</html>